
title {
	font-family: 'Jura';
	font-size:20pt;
	color: #333;
}
body {
  background-image: url('images/Warehouse_background.jpg');
}

header {
	font-family: 'Jura';
	color: #FFFFFF;
	background-color: rgb(70, 100, 150);
	width: 100%
}

ul {
	display: flex; 
	justify-content: space-around; 
	font-family: 'Jura';
	
	}
	a {
  background-color: rgb(70, 100, 150);
  color: white;
  padding: 1em 1.5em;
  text-transform: uppercase;
}
.ItemLi ul {
		list-style-type:none;
		padding-left:10 px;
		margin-left:10 px;
		display: flex; 
		justify-content: space-around; 
		
	
}
.ItemLi a {
	background-color: rgb(70, 100, 150);
	color: white;
	font-family: 'Jura';
	margin-top:50 px;
	margin-bottom:50 px;
	text-transform: uppercase;
}
.ItemLi li {
	line-height: 5;
}
	p {
		background-color: rgb(70, 100, 150);
		font-family: 'Jura';
		font-size:18pt;
		color: #FFFFFF;
		border: 5px solid #999;
		width: 70%;
	}
footer {
    position: fixed; 
    left: 0; bottom: 0; 
    padding: 10px; 
    background: rgb(70, 100, 150);
    color: #fff; 
    width: 100%; 
   }

